@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:active {
  outline: none;
}

a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;700&display=swap');

/*--------------------*/

body {
  font-family: 'Yantramanav', sans-serif;
  background-color: #fff3d9;
}

.sectionForm,
.main {
  background-color: #fff3d9;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;

  padding: 40px 0;

  background-color: #000c20;
}
.headerH1 {
  font-size: 70px;
  font-weight: bold;

  color: white;
}

/* SECTION FORM */

.sectionForm {
  display: flex;

  padding: 40px 0;
}
.sortForm {
  width: 100%;

  display: flex;
  justify-content: center;
}

.blockSearch {
  display: flex;
}

.search {
  width: 250px;

  font-size: 18px;

  padding: 5px 10px;

  border: 1px solid #b8390e;
}

.formButton {
  font-size: 18px;

  margin-left: -1px;
  padding: 10px 10px;

  border: 1px solid black;
}

/* MAIN */

.main {
  /*padding-top: 10px;*/
  /*margin-bottom: 92px;*/
}

.cardsItems {
  display: grid;
  grid-template-columns: repeat(6, 220px);
  justify-content: center;
  gap: 30px;
}

.card {
  cursor: pointer;

  position: relative;
}

.cardImgContainer,
.cardItemContainer {
  width: 220px;
  height: 340px;
}

.cardImgContainer img {
  width: 100%;
  height: 100%;

  background-size: cover;

  border: 5px solid #000c20;
  border-radius: 10px;

  transform: scale(1);
  transition: transform 0.3s linear;
}

.card:hover img,
.card:active img {
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

.cardItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: white;
  text-align: center;

  opacity: 0;

  padding: 10px 0;

  border-radius: 10px;

  transform: scale(1);
  transition: all 0.3s linear;

  position: absolute;
  top: 0px;
  left: 0px;
}

.card:hover .cardItemContainer,
.card:active .cardItemContainer {
  opacity: 1;

  transform: scale(1.1);
  transition: all 0.3s linear;

  background-color: rgba(0, 0, 0, 0.7);
}

.cardItemH3 {
  max-width: 200px;

  font-size: 23px;
  font-weight: bold;

  cursor: text;
}

.cardItemRating {
  font-size: 16px;
  font-weight: normal;
}

.cardItemText {
  max-width: 200px;

  font-size: 14px;

  text-align: justify;
  line-height: 1.2;

  cursor: text;
}

.cardButton {
  min-width: 120px;

  font-size: 20px;
  font-weight: bold;

  color: white;

  padding: 8px 0px;

  border: 4px solid white;

  background: transparent;
  transition: all 0.3s linear;
}
.cardButton:hover {
  min-width: 90%;
  color: black;

  border: 4px solid black;

  background-color: white;

  transition: all 0.3s linear;
}

.paragraphOfState {
  font-size: 20px;

  text-align: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;

  font-size: 20px;

  padding: 40px 0;
  margin-top: 6%;

  border: 10px solid black;

  color: white;
  background-color: #3b0918;

  /*position: absolute;
  bottom: 0;*/
}

.githubProfileLink {
  color: white;
}
.githubProfileLink:hover {
  color: blue;
}
